<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
      <section>
        <%= render 'shared/micropost_form'  if nil %>
      </section>
    </aside>
    <div class="span8">
      <h3>Library Import Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  
<div class="center hero-unit">
  <h1>IPtracker</h1>

		 <div class="row">Please sign in or Create an account</h2></div>
		 <h2> <br>
		 <div class="row">
		 	<div class="span3 offset2"><%= link_to "Sign in", signin_path, class: "btn btn-large btn-success btn-block" %> </div>
		 	<div class="span3 offset1"><%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary btn-block" %></div>
		 </div>
		 <h2> <br>
		 <%= link_to image_tag("dog_sniff.png", alt: "IPtracker"), 'https://github.com/cookacounty/IPtracker' %>
		 <div class="row">Visit <a href="https://github.com/cookacounty/IPtracker">IPtracker</a> on GitHub. </div>
</div>



<% end %>