<%= @uploadedPath %>
<div class="row-fluid">
	<% if @form_errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@form_errors.count, "error") %> prohibited the file upload</h2>

      <ul>
      <% @form_errors.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
    <% end %>
<div class="row-fluid">
	
	<div class="span4">
	<%= form_tag({action: :upload}, multipart: true) do %>
		<fieldset>
			<label>Silicon Revision (ie. 0000XX)</label>
			<%= text_field_tag(:silicon) %>
			<%= file_field_tag 'filepath' %>
			<button type="submit" class="btn">Submit</button>
		</fieldset>
	<% end %>
	</div>

</div>


<% if(params[:upload_success]) %>
	<pre>
    	<%= render :file => Settings.iptracker.import_log %>
	</pre>
<% end %>

