
<div class="row-fluid">
	<% if controller.controller_name == 'cdscells' %>
	<% offset = "offset1"%>
	  <div class="span2">
	    <%= render 'track_form' if signed_in? %>
	  </div>
	  <div class="span2">
	    <%= render 'save_form' if signed_in? %>
	  </div>
	<% else %>
	<%offset="" %>
	<% end %>
  <div class="span2 <%=offset%>" >
    <%=  link_to 'Edit', url_for(controller: subject_controller,  action: 'edit'), class: "btn btn-info btn-large btn-block" %>
  </div>
  <div class="span2">
  <%= link_to_function "Back", "history.back()", class: "btn btn-primary btn-large btn-block" %>
  </div>
  <div class="span2">
    <%= link_to "Delete", subject, method: :delete, data: { confirm: "Will delete #{subject.name}. Are you sure?" }, class: "btn btn-danger btn-large btn-block" %>
  </div>
</div>