<table class="table table-bordered">
	
  <thead>
      <h3><%= link_to cdscell.name, cdscell %></h3>
	</thead>
	<tr> 
		<th> Library </th>
		<th> <%= link_to cdscell.cdslib.name, cdscell.cdslib %> </th>
	</tr>
	<tr> 
		<th> x (um) </th>
		<th> <%= cdscell.xsize %></th>
	</tr>
	<tr> 
		<th> y (um) </th>
		<th> <%= cdscell.ysize %></th>
	</tr>
	<tr> 
		<th> Area (mm^2) </th>
		<th> <%= sprintf("%.2f", cdscell.area/(1000.0*1000.0)) %> </th>
	</tr>
	<tr> 
		<th>Created </th>
		<th><%= cdscell.created_at.strftime("%d %b. %Y") %> </th>
	</tr>
	<tr> 
		<th>Updated </th>
		<th><%= cdscell.updated_at.strftime("%d %b. %Y") %> </th>
	</tr>
	<tr>
	</tr>

</table>

<%= render 'cdscells/track_form' %>

<h3> Referenced Silicon </h3>
<ul><%= render cdscell.silicons %> </ul>

<div class="row">
	<div class="span10 offset1">
<%= image_tag( File.basename(cdscell.layimg_file_name),width: "80%")%></div>
</row>

