<% provide(:title, @cdscell.name) %>

<div class = "row">
<h1>Cell: <%=@cdscell.name %></h1>
</div>

<%= render 'cdscells/cdscell_summary'%>

<%= render partial: 'shared/view_controls', :locals =>{:subject => @cdscell,:subject_controller => "cdscells"} %>

<div class = "row">
<div class = "span12">
	<h5> Referenced Silicon </h5>
	<ul><%= render @silicons %> </ul>
	<%= will_paginate @silicons, :param_name => "silicons_page" %>
</div>
</div>

<h5> Layout </h5>
<h2><%= @cdscell.image_name %></h2>
<div class="row">
	<div class="span10 offset2">
	<%= image_tag( File.basename(@cdscell.layimg_file_name),width: "80%")%></div>
</div>
