<% provide(:title, @cdscell.name) %>

<div class = "row">
<h1>Library: <%=@cdscell.name %></h1>
</div>

<table class="table table-bordered">
	
  <thead>
      <h3>Cell Information</h3>
	</thead>
	<tr> 
		<th> Cell </th>
		<th> <%= @cdscell.name %> </th>
	</tr>
	<tr> 
		<th> Library </th>
		<th> <%= link_to @cdscell.cdslib.name, @cdscell.cdslib%> </th>
	</tr>
	<tr> 
		<th> x (um) </th>
		<th> <%= @cdscell.xsize %></th>
	</tr>
	<tr> 
		<th> y (um) </th>
		<th> <%= @cdscell.ysize %></th>
	</tr>
	<tr> 
		<th> Area (mm^2) </th>
		<th> <%= sprintf("%.2f", @cdscell.area/(1000.0*1000.0)) %> </th>
	</tr>
	<tr> 
		<th>Created </th>
		<th><%= @cdscell.created_at.strftime("%d %b. %Y") %> </th>
	</tr>
	<tr> 
		<th>Updated </th>
		<th><%= @cdscell.updated_at.strftime("%d %b. %Y") %> </th>
	</tr>

</table>

<%= render partial: 'shared/view_controls', :locals =>{:subject => @cdscell,:subject_controller => "cdscells"} %>

<div class = "row">
<div class = "span12">
	<h5> Referenced Silicon </h5>
	<ul><%= render @silicons %> </ul>
	<%= will_paginate @silicons, :param_name => "silicons_page" %>
</div>
</div>

<h5> Layout </h5>
<h2><%= @cdscell.image_name %></h2>
<div class="row">
	<div class="span10 offset2">
	<%= image_tag( File.basename(@cdscell.layimg_file_name),width: "80%")%></div>
</div>
