<% provide(:title, @cdslib.name) %>

<p id="notice"><%= notice %></p>

<p>
  <h3>Library: <%= @cdslib.name %> </h3>
  
    <% if @cdslib.cdscells.any? %>
      <h3>Cells (<%= @cdslib.cdscells.count %>)</h3>
      <u1 class="cells">
        <%= render @cdscells %>
      </u1>
      <%= will_paginate @cdscells %>
    <% end %>
    
</p>

<%= link_to 'Edit', edit_cdslib_path(@cdslib) %> |
<%= link_to 'Back', cdslibs_path %>
