<% provide(:title, @silicon.name) %>

<div class = "row">
<h1>Silicon: <%=@silicon.name %></h1>
</div>


<table class="table table-bordered">
	
  <thead>
      <h3>Silicon Information</h3>
	</thead>
	<tr>
		<th> Silicon </th>
		<th> <%= @silicon.name %> </th>
	</tr>
	<tr> 
		<th>Created </th>
		<th><%= @silicon.created_at.strftime("%d %b. %Y") %> </th>
	</tr>
	<tr> 
		<th>Updated </th>
		<th><%= @silicon.updated_at.strftime("%d %b. %Y") %> </th>
	</tr>

</table>

<%= render partial: 'shared/view_controls', :locals =>{:subject => @silicon,:subject_controller => "silicons"} %>

<div class = "row">
<div class = "span12">
<h5> Referenced Libraries </h5>
<%= render @cdslibs%>
<%= will_paginate @cdslibs, :param_name => "cdslib_page" %>

<div class = "row">
<div class = "span12">
<h5> Referenced Cells </h5>
<%= render @cdscells%>
<%= will_paginate @cdscells, :param_name => "cdscell_page" %>
</div>
</div>
